/*validated 9/16*/
body
{
  color:#96f7f4;
  margin:auto;
  padding:30px;"
}

h1
{
  font-family:Arial;
  color:#012047;
  font-size:20px;
}

h2
{
  font-family:Arial;
  color:#012047;
  font-size:16px;
}

h3
{
  font-family:Arial;
  color:#012047;
  font-size:14px;
}

section
{
  font-family:Arial;
  width:300px;
  text-align:left;
  color:#012047;
  font-size:12px;
}

nav
{
  text-align:center;
  padding:10px;
  font-size:14px;
}

a:link, a:visited
{
  color:#ef1f1f;
  text-decoration:underline;
}

a:link:active, a:visited:active
{
  color:#000000;
}
