header
{
	background-color:rgb(200,200,200);
	margin: 0px;
	padding:0px;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
	grid-area: 1 / 1 / 2 / 9; /*row start, column start, row end, column end*/
}

.quarterbox
{
	background-color:rgb(200,200,200);
	margin:10px;
	padding:20px;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
	grid-column-end: span 1;

  display:grid;
  grid-template-columns:100%;
  grid-template-rows:auto;
  align-items: center;
}

.threequarterbox
{
	background-color:rgb(200,200,200);
	margin:10px;
	padding:20px;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
	grid-column-end: span 3;

  display:grid;
  align-self: center;
  align-items:center;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
}

body
{
  background-color:#D9DEF8;
  margin:auto;
  padding:30px;
}

h1
{
  font-family: Roboto Mono;
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
  text-align: left;
  color: #ffffff;
}

h2
{

  font-family: Roboto Mono;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  color: #ffffff;
}

h3
{
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #251754;
}

h4
{
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #251754;
}

h5
{
  font-family: Roboto Condensed;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  color: #251754;
}

h6
{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #251754;
	padding:2vw 2vh;
}

p
{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #251754;
	text-align: left;
	padding:2vw 2vh;
	align-self: center;
}

a:link:active
{
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-decoration-line: underline;
  color: #251754;
  transition-duration: 0.2s;
}

a:link, a:hover
{
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-decoration-line: underline;
  color: #3378D7;
}

a:visited:active
{
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-decoration-line: underline;
  color: #6D6ADD;
}

button
{
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #251754;
  width: 145px;
  height: 45px;
  background: #9AB1F0;
  box-sizing: border-box;
  box-shadow: -5px 5px 10px 1px rgba(37, 23, 84, 0.25);
  border-radius: 10px;
  transition-duration: 0.2s;
  padding: 5px;
}

button:hover
{
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  width: 145px;
  height: 45px;
  background: #3378D7;
  box-sizing: border-box;
  box-shadow: -5px 5px 10px 1px rgba(37, 23, 84, 0.25);
  border-radius: 10px;
}

button:active
{
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  width: 145px;
  height: 45px;
  background: #6D6ADD;
  box-sizing: border-box;
  box-shadow: -5px 5px 10px 1px rgba(37, 23, 84, 0.25);
  border-radius: 10px;
}
