/*validated 10/1*/
.flex-container
{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  border: 4px dashed #DE7C57;
  padding:15px;
}

body
{
  background-color:#CFDEE5;
  margin:auto;
  padding:30px;
}

h1
{
  color:#374b4a;
  font-family: Inconsolata;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

h2
{
  color:#374b4a;
  font-family: Inconsolata;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

h3
{
  color:#374b4a;
  font-family: Inconsolata;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-decoration-line: underline;
}


h4
{
  color:#374b4a;
  font-family: Barlow;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
}


h5
{
  color:#374b4a;
  font-family: Barlow;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}


h6
{
  color:#374b4a;
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

p
{
  color:#374b4a;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

article
{
  width:300px;
  text-align:center;
  padding:30px;
}

nav
{
  text-align:center;
  padding:10px;
  font-size:14px;
}

a:link, a:visited
{
  color:#2a90a0;
  text-decoration:underline;
}

a:link, a:hover
{
  color:#de7c57;
  text-decoration:underline;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

a:link:active, a:visited:active
{
  color:#526760;
  text-decoration:underline;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
